@import play.api.libs.json.JsObject
@import java.text.DecimalFormat
@(json: JsObject, srcAmt: Double, dstAmt: Double, srcCur: String, dstCur: String)

@main("Simple Exchange") {
    <form class="form-inline" action='/' method='get'>
        <div class="input-group">
            <input name="srcAmt" id="srcAmt" type="" class="form-control conversion-form" placeholder="Enter an amount..." min="0" step="any" value="@{var fmt = new DecimalFormat("0.00########"); fmt.format(srcAmt)}" />

            <span class="input-group-btn">
                <select name="srcCur" id="srcCur" class="form-control select select-default conversion" style="visibility: hidden">
                    @for(key <- json.keys.toList.sorted) {
                        <option @if(srcCur.startsWith(key)) {selected="selected"} value="@key">
                        @{val s = key + " - " + json.value.get(key).get.toString().replace("\"", ""); s}
                        </option>
                    }
                </select>
            </span>

            <span class="input-group-btn">
                <button type="button" id="swap-button" class="btn btn-default conversion-form"><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span></button>
            </span>

            <span class="input-group-btn">
                <select name="dstCur" id="dstCur" class="form-control select select-default" style="visibility: hidden">
                    @for(key <- json.keys.toList.sorted) {
                        <option @if(dstCur.startsWith(key)) {selected="selected"} value="@key">
                        @{val s = key + " - " + json.value.get(key).get.toString().replace("\"", ""); s}
                        </option>
                    }
                </select>
            </span>

            <span class="input-group-btn">
                <button type="submit" class="btn btn-default conversion-form">Convert!</button>
            </span>
        </div>
    </form>
    <div id="displayArea">
        <span class="display-srcAmt">@{var fmt = new DecimalFormat("0.00########"); fmt.format(srcAmt)}</span>
        <span class="display-srcCur">@srcCur</span>
        <span class="display-eq">=</span>
        <span class="display-dstAmt">@{var fmt = new DecimalFormat("0.00########"); fmt.format(dstAmt)}</span>
        <span class="display-srcCur">@dstCur</span>
    </div>
}
